<div id="<%= dom_id conversation %>">
  <p>
    <strong>Subject:</strong>
    <%= conversation.subject %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= conversation.contact_id %>
  </p>

</div>
