<div id="<%= dom_id conversation %>">
  <p>
    <strong>Subject:</strong>
    <%= conversation.subject %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= link_to conversation.contact.name, conversation.contact %>
  </p>

</div>
